<ion-header>
  <ion-toolbar>
    <ion-title >NOTES-LIST</ion-title>
    <ion-button id="lt" [routerLink]="['/home']">BACK-</ion-button>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <div [ngStyle]="editBx" id="editBx">
    <div class="inEdEl" >
      <input class="editInp" [(ngModel)]='editTitle' type="text">
      <textarea class="editTarea" [(ngModel)]='editContent' name="" id="" cols="30" rows="10"></textarea>
      <br><br>
      <div class="edAndDelBt">
      <ion-button class="update" (click)=updateNotes();>Update</ion-button>
      <ion-button class="closeED" (click)=closeEdit();>Close</ion-button>
    </div>
      <br><br>
    </div>
  </div>
  <div>
    <input class="messageBox" type="text" value={{message}}>
  </div>
  <div cdkDrag class="list">
    <div class="dis" *ngFor='let list of notesListArray; let i = index'>
      <input class="title" (click)='editNotesOnList(i)' type="text" value="Title : {{list.title}}">
      <textarea class="content" (click)='editNotesOnList(i)' cols="30" rows="10">{{list.content}}</textarea>
      <ion-button id='del' (click)='showConfirmAlert();indexGetter(i)'>Del</ion-button>
    </div>
  </div>
</ion-content>
